<!-- aquí van secciones del layout, reutilizables por el layout-->

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/" style="color:#Ecf3f9">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about" style="color:#Ecf3f9">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/photoAlbum" style="color:#Ecf3f9">Photo Album</a>
  </li>
</ul>