<div id="about" class="container">
      <div class="jumbotron">
        <h1 class="display-3" style="text-align: center; margin-left:0px; color: #303030; margin-bottom: 40px">Cosas geniales <br> sobre Magda</h1>
        <img src="images/magda-pablo.jpg" alt="" style="text-align:center; margin-left:75px; margin-bottom: 30px">
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Practica natación</h4>
          <p>Desde muy pequeña. ¡Ganó varios concursos regionales!</p>

          <h4>estudió medicina en la UNAM y en Nutrición</h4>
          <p>¡no cualquiera!</p>

          <h4>sufrió meningitis</h4>
          <p>Con lo que tuvo que dejar el hospital, pero se recuperó</p>
        </div>

        <div class="col-lg-6">
          <h4>se mudó a Canadá</h4>
          <p>Aprendió francés, se preparó por cinco años, y dejó toda su vida en México</p>

          <h4>Volvió a cursar medicina</h4>
          <p>Para revalidar materias, tuvo que volver a presentar muchas de ellas, y toda su especialidad</p>

          <h4>¡Ya es especialista en un hospital!</h4>
          <p>Un gran ejemplo para mí, de que puedes volver a empezar después de los 30</p>
        </div>
      </div>
    </div> <!-- /container -->
  