<h1>Magdalena Valdés</h1>
<div class="container">
    <div class="row">
<figure class="figure">
  <img src="images/magda_perfil.jpg" class="figure-img img-fluid rounded perfil" alt="...">
  <figcaption class="figure-caption" style="font-size:25px; margin-left: 220px; color:lavender">¡Una chingona!</figcaption>
</figure>

</div>
</div>
<h3></h3>